.termbody
{
    background-color: wheat;
    background-image: url(https://res.cloudinary.com/alexandracaulea/image/upload/v1582142705/illustration_zisnja.svg);
  background-repeat: no-repeat round;
}
